<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="checkbox" id="checkbox" v-model="checked" true-value="yes" false-value="no">
        <label for="checkbox">{{checked}}</label>
        <br>

        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>勾选的名字是：{{checkedNames}}</span>
    </div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data:{
            checked: null,
            checkedNames: []
        }
    })
</script>
</html>